* {
    color: #052AA0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-family: 'Comic Sans MS';
    font-weight: bold;
}

.center-x {
    display: flex;
    justify-content: center;
}

.center-y {
    display: flex;
    align-items: center;
}

.bold {
    font-weight: bold;
}

header {
    text-align: center;
}

header img {
    width: 200px;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/hartjes2.png");
    background-size: initial;
    background-repeat: repeat;
    width: 100%;
    opacity: 0.7;
    min-height: 492px;
    z-index: -1;
}

#home {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 492px;
    z-index: 1;
}

.home-content {
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.home-content h1 {
    font-size: 120px;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}

#content {
    background-image: url("../images/achtergrond\ website.jpg");
    background-size: initial;
    background-repeat: repeat;
    background-position-x: center;
    min-height: 2000px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 75%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    margin: 70px 0;
    gap: 40px;
}

.flex-container-item {
    flex: 1;
    height: 100%;
}

.image-container {
    max-width: 600px;
    overflow: hidden;
    text-align: center;
    border-radius: 0 40px;
}

.image-container img {
    height: 700px;
    transform: translate3d(-160px, 0px, 0px);
}

.text-container {
    padding: 30px 50px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.criticism {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    text-align: center;
    gap: 40px;
    border-radius: 10px;
}

.criticism-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.criticism-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.criticism-item img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

@media (max-width: 1000px) {
    .home-content {
        flex-direction: column;
    }
    .home-content h1 {
        font-size: 80px;
        text-align: center;
    }
    .flex-container {
        flex-direction: column;
        margin: 120px 0;
    }
    .image-container {
        max-width: 600px;
    }
    .flex-top-item {
        margin-bottom: 20px;
    }
    .criticism-container {
        flex-direction: column;
    }
    .wrapper {
        width: 90%;
    }
    .image-container img {
        transform: translate3d(-180px, 0px, 0px);
    }
}

@media (max-width: 800px) {
    .image-container {
        max-width: 500px;
    }
    .image-container img {
        transform: translate3d(-220px, 0px, 0px);
    }
}

@media (max-width: 600px) {
    .home-content h1 {
        font-size: 60px;
        text-align: center;
    }
    .image-container {
        max-width: 300px;
    }
    .image-container img {
        transform: translate3d(-250px, 0px, 0px);
    }
}

@media (max-width: 400px) {
    
}